doctype xml
collection
  each item in doc
    garden
      id #{item.id}
      name #{item.name} 
      lat #{item.lat}
      lon #{item.lon}
      contact #{item.contact} 
      panels #{item.infopanels}
